:root {
    --text-color: rgba(0, 0, 0, .8);
    --white-color: #fff;
    --red-color: #ff0000;
    --green-color: #00FF00;
    --blue-color: #0000FF;
    --yellow-color: #ffff00;
    --btn-color: #7000AA;
    --margin-side: 12rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1.6rem;
    font-family: 'Ubuntu', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
    z-index: 10;
    opacity: 0;
    transition: opacity .5s;
    display: none;
}

@keyframes layoutOn {
    to {
        display: block;
        opacity: 1;
    }
}

.btn {
    padding: .8rem 1.5rem;
    background-color: #7000AA;
    margin: 1rem;
    border-radius: .5rem;
    font-size: 1.6rem;
    color: #fff;
}

.home-section {
    padding-bottom: 5rem;
    overflow: hidden;
    padding-right: 12rem;
    padding-left: 12rem;
    /* margin-top: 10rem; */
    padding-top: 10rem;
}

.home-section:nth-of-type(2n+1) {
    background-color: #212121;
}

.home-section-heading {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 4rem;
    color: var(--btn-color);
    position: relative;
}

.home-section-heading span {
    position: relative;
    top: -1.5rem;
}