@media (max-width:1023px) {
    .my-infor {
        display: flex;
        flex-direction: column;
        padding-bottom: 3rem;
        margin-left: 5%;
        margin-right: 5%;
    }
    .header__nav {
        padding-left: 0;
        padding-right: 0;
    }
    .header__nav__menu {
        display: none;
    }
    .home-section {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (max-width:1500px) {
    .my-infor {
        padding-bottom: 3rem;
        margin-left: 5%;
        margin-right: 5%;
    }
    .home-section {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (max-width: 740px) {
    .my-infor {
        margin-left: 2%;
        margin-right: 2%;
    }
    .home-section {
        padding-left: 2%;
        padding-right: 2%;
    }
}

@media (min-width: 1024px) {
    .header__nav--respon {
        display: none;
    }
}