@media (max-width:1199px) {
    .my-infor {
        display: flex;
        flex-direction: column;
        padding-bottom: 3rem;
        /* margin-left: 5%;
        margin-right: 5%; */
    }
    .header__nav {
        padding-left: 0;
        padding-right: 0;
    }
    .header__nav__menu {
        display: none;
    }
    .home-section {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (max-width:1399px) {
    .home-section {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (max-width: 767px) {
    .my-infor {
        margin-left: 2%;
        margin-right: 2%;
    }
    .home-section {
        padding-left: 2%;
        padding-right: 2%;
    }
    .header__intro__content {
        /* top: 10rem;  */
    }
    .header__intro__title span {
        font-size: 4rem;
        user-select: none;
    }
    .header__intro__disc span {
        font-size: 1.5rem;
    }
    .header__intro__logo {
        --size-img: 30rem;
    }
    .header__intro__logo:hover {
        --size-img: 35rem;
    }
    .my-infor-heading {
        margin-top: 5rem;
    }
}

@media (max-width: 575px) {
    .header__intro__content {
        top: 8rem;
    }
    .header__intro__title span {
        font-size: 3rem;
    }
    .header__intro__disc span {
        font-size: 1.5rem;
    }
    .header__intro__logo {
        --size-img: 20rem;
    }
    .header__intro__logo:hover {
        --size-img: 22rem;
    }
}


/* @media (max-width:800px) and (min-height: 1200px) {
    .header__intro__content {
        top: 15rem;
    }
    .header__intro__title span {
        font-size: 5rem;
    }
    .header__intro__disc span {
        font-size: 3rem;
    }
    .header__intro__logo {
        --size-img: 30rem;
        top: -40rem;
    }
    .header__intro__logo:hover {
        --size-img: 27rem;
    }
} */

@media (min-height: 1400px) {
    .header__intro__content {
        top: 15rem;
    }
    .header__intro__title span {
        font-size: 5rem;
    }
    .header__intro__disc span {
        font-size: 3rem;
    }
    .header__intro__scroll {
        bottom: 18rem;
        /* transform: scale(1.5); */
    }
    .header__intro__logo {
        --size-img: 35rem;
        top: -55rem;
    }
    .header__intro__logo:hover {
        --size-img: 40rem;
    }
}